.button {
  width: 20vw;
  height: 10vh;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-size: x-large;
}

.button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
