.input {
  width: 300px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.LoginTitle {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(88, 88, 204);
}

#LoginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginSubmitBtn {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  border-color: rgb(88, 88, 204);
  background-color: white;
  color: rgb(88, 88, 204);
}

.loginSubmitBtn:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(88, 88, 204);
}
