@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Global Color Variables */
:root {
  --text-color: rgb(64, 64, 238);
  --border-color: rgb(107, 107, 244);
}
