#loading-spinner,
#loading-spinner div {
  box-sizing: border-box;
}
#loading-spinner {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
#loading-spinner div {
  display: inline-block;
  position: absolute;
  left: 4px;
  width: 8px;
  background: currentColor;
  animation: loading-spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
#loading-spinner div:nth-child(1) {
  left: 4px;
  animation-delay: -0.24s;
}
#loading-spinner div:nth-child(2) {
  left: 16px;
  animation-delay: -0.12s;
}
#loading-spinner div:nth-child(3) {
  left: 28px;
  animation-delay: 0s;
}
@keyframes loading-spinner {
  0% {
    top: 4px;
    height: 32px;
  }
  50%,
  100% {
    top: 12px;
    height: 16px;
  }
}
